<section class="content-header">
	<h1>
		Divisão do Departamento
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<i class="fa fa-home"></i> Home</a>
		</li>
		<li class="active">Divisão</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Divisões Cadastradas</h3>
					<div class="box-tools">
						<a routerLink="/divisao/novo" class="btn btn-sm pull-left btn-flat bg-purple margin-right-10">
							<i class="fa fa-plus"></i>
							<b>Nova Divisão</b>
						</a>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-hover">
							<thead>
								<tr>
									<th style="width: 10px">#</th>
									<th>Sigla</th>
									<th>Nome</th>
									<th>UF</th>
									<th>Especialidade</th>
									<th>Descrição</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let divisao of Divisao">
									<td>{{divisao.id_divisao}}</td>
									<td>{{divisao.sigla}}</td>
									<td>{{divisao.nome}}</td>
									<td>{{divisao.uf}}</td>
									<td>{{divisao.especialidade}}</td>
									<td>{{divisao.descricao}}</td>
									<td>
										<a [routerLink]="['/divisao', divisao.id_divisao]" class="btn  btn-xs bg-blue btn-flat">
											<i class="fa fa-pencil"></i>
										</a>
									</td>
									<td>
										<button (click)="deleteDivisao(divisao)" type="button" class="btn  btn-xs bg-red btn-flat">
											<i class="fa fa-remove"></i>
										</button>
									</td>
					
								</tr>
							</tbody>
						</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>