<!-- Início do header -->
<header class="main-header">
	<nav class="navbar navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a [routerLink]="['/']" class="navbar-brand"><b>Avaliação FCT</b></a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            		<i class="fa fa-bars"></i>
          		</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<!-- <li routerLinkActive="active"><a [routerLink]="['/restaurants']">Restaurants</a></li> -->
					<li routerLinkActive="active"><a href="#">Avaliar</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros Base <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li routerLinkActive="active"><a [routerLink]="['/abrangencia']">Abrangência</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/colaborador']">Colaborador</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/complexidade']">Complexidade</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/divisao']">Divisão</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/impacto']">Impacto</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/papel']">Papel</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/pesos']">Pesos</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/projeto']">Projeto</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/referencia']">Referência FCT</a></li>
							<li class="divider"></li>
							<li routerLinkActive="active"><a [routerLink]="['/tecnologia']">Tecnologia</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li routerLinkActive="active"><a [routerLink]="['/avaliacao']">Avaliação</a></li>
						</ul>
					</li>
					<li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
</header>
<!-- Fim do header -->