<section class="content-header">
	<h1>
		Colaborador
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#">Colaborador</a></li>
		<li class="active">Detalhes do Colaborador</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes do Colaborador</h3>
				</div>
				<!-- /.box-header -->
				<form role="form" [formGroup]="formColaborador" (ngSubmit)="save()">
					<div class="box-body">
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['matricula'].valid && formColaborador.controls['matricula'].touched) }">
							<label for="matricula">Matricula</label>
							<input type="text" class="form-control" id="matricula" [(ngModel)]="colaborador.matricula" formControlName="matricula" maxlength="8" placeholder="99999999">
							<span *ngIf="!formColaborador.controls['matricula'].valid && formColaborador.controls['matricula'].touched" class="help-block">O campo Matrícula é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['nome'].valid && formColaborador.controls['nome'].touched) }">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.nome" formControlName="nome" id="nome" maxlength="50" placeholder="Escreva o nome completo do colaborador">
							<span *ngIf="!formColaborador.controls['nome'].valid && formColaborador.controls['nome'].touched" class="help-block">O campo Nome é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['telefone'].valid && formColaborador.controls['telefone'].touched) }">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" [(ngModel)]="colaborador.telefone" formControlName="telefone" [textMask]="{mask: MaskTel}" placeholder="(99) 9999-9999">
							<span *ngIf="!formColaborador.controls['telefone'].valid && formColaborador.controls['telefone'].touched" class="help-block">O campo Telefone é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['especialidade'].valid && formColaborador.controls['especialidade'].touched) }">
							<label for="especialidade">Especialização</label>
							<select class="form-control" [(ngModel)]="colaborador.especialidade" formControlName="especialidade">
                            	<option value="" [selected]="true">Selecione</option>  
                                <option value="Atendimento">Atendimento</option>
								<option value="Apoio Operacional">Apoio Operacional</option>
								<option value="Comunicação Social">Comunicação Social</option>
								<option value="Desenvolvimento de Sistemas">Desenvolvimento de Sistemas</option>
                                <option value="Programação Visual">Programação Visual</option>
								<option value="Programação de Computador">Programação de Computador</option>
                            </select>
							<span *ngIf="!formColaborador.controls['especialidade'].valid && formColaborador.controls['especialidade'].touched" class="help-block">O campo Especialidade é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['salario'].valid && formColaborador.controls['salario'].touched) }">
							<label for="salario">Salário</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.salario" formControlName="salario" id="salario" maxlength="12" placeholder="Informar o valor do salário" currencyMask>
							<span *ngIf="!formColaborador.controls['salario'].valid && formColaborador.controls['salario'].touched" class="help-block">O campo Salário é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['percentual_salario'].valid && formColaborador.controls['percentual_salario'].touched) }">
							<label for="percentual_salario">8,5% do Salário</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.percentual_salario" formControlName="percentual_salario" id="percentual_salario" maxlength="12" placeholder="Informar o valor correspondente a 8,5% do salário" currencyMask>
							<span *ngIf="!formColaborador.controls['percentual_salario'].valid && formColaborador.controls['percentual_salario'].touched" class="help-block">O campo 8,5% do Salário é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe'].valid && formColaborador.controls['TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe'].touched)}">
							<label for="TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe">Referência FCT</label>
							<select id="TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe" [(ngModel)]="colaborador.TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe" class="form-control" formControlName="TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe">
								<option value="">Selecione</option>
								<option *ngFor="let referencia of Referencia; let i = index"  value="{{referencia.id_referencia_fct_gfe}}">{{referencia.num_referencia + " - " + referencia.cargo + " (" + referencia.valor_referencia + ")"}}</option>
							</select>
							<span *ngIf="!formColaborador.controls['TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe'].valid && formColaborador.controls['TB_REFERENCIA_FCT_GFE_id_referencia_fct_gfe'].touched" class="help-block">A Referência FCT é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['TB_DIVISAO_id_divisao'].valid && formColaborador.controls['TB_DIVISAO_id_divisao'].touched)}">
							<label for="TB_DIVISAO_id_divisao">Divisão</label>
							<select id="TB_DIVISAO_id_divisao" [(ngModel)]="colaborador.TB_DIVISAO_id_divisao" class="form-control" formControlName="TB_DIVISAO_id_divisao">
							    <option value="">Selecione</option>
								<option *ngFor="let divisao of Divisao; let i = index" value="{{divisao.id_divisao}}">{{divisao.sigla}}</option>  
                            </select>
							<span *ngIf="!formColaborador.controls['TB_DIVISAO_id_divisao'].valid && formColaborador.controls['TB_DIVISAO_id_divisao'].touched" class="help-block">A Divisão é obrigatória!</span>	  
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['TB_ACESSO_id_acesso'].valid && formColaborador.controls['TB_ACESSO_id_acesso'].touched)}">
							<label for="TB_ACESSO_id_acesso">Perfil de Acesso</label>
							<select class="form-control" [(ngModel)]="colaborador.TB_ACESSO_id_acesso" formControlName="TB_ACESSO_id_acesso">
                            	<option value="1" [selected]="colaborador.TB_ACESSO_id_acesso == '1'">ADMINISTRADOR</option>
								<option value="2" [selected]="colaborador.TB_ACESSO_id_acesso == '2'">LÍDER</option>
								<option value="3" [selected]="colaborador.TB_ACESSO_id_acesso == '3'" [selected]="true">COLABORADOR</option>
							</select>
						</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right" [disabled]="!formColaborador.valid">Enviar</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>