<section class="content-header">
	<h1>
		Colaborador
		<!-- <small>cadastro de novas divisões</small> -->
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#">Colaborador</a></li>
		<li class="active">Detalhes do Colaborador</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes do Colaborador</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" [formGroup]="formColaborador" (ngSubmit)="save()">
					<div class="box-body">
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['nome'].valid && formColaborador.controls['nome'].touched) }">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.nome" formControlName="nome" id="nome" maxlength="50" placeholder="">
							<span *ngIf="!formColaborador.controls['nome'].valid && formColaborador.controls['nome'].touched" class="help-block">O campo Nome é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['matricula'].valid && formColaborador.controls['matricula'].touched) }">
							<label for="matricula">Matricula</label>
							<input type="text" class="form-control" id="matricula" [(ngModel)]="colaborador.matricula" formControlName="matricula" maxlength="10" placeholder="">
							<span *ngIf="!formColaborador.controls['matricula'].valid && formColaborador.controls['matricula'].touched" class="help-block">O campo Matrícula é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['telefone'].valid && formColaborador.controls['telefone'].touched) }">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" [(ngModel)]="colaborador.telefone" formControlName="telefone" maxlength="11" placeholder="">
							<span *ngIf="!formColaborador.controls['telefone'].valid && formColaborador.controls['telefone'].touched" class="help-block">O campo Telefone é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['especialidade'].valid && formColaborador.controls['especialidade'].touched) }">
							<label for="especialidade">Especialização</label>
							<select class="form-control" [(ngModel)]="colaborador.especialidade" formControlName="especialidade" (change)="setCamposFk(colaborador.especialidade)">
                            	<option value="" [selected]="true">Selecione</option>  
                                <option value="Atendimento">Atendimento</option>
								<option value="Apoio Operacional">Apoio Operacional</option>
								<option value="Comunicação Social">Comunicação Social</option>
								<option value="Desenvolvimento de Sistemas">Desenvolvimento de Sistemas</option>
                                <option value="Programação Visual">Programação Visual</option>
								<option value="Programação de Computador">Programação de Computador</option>
                            </select>
							<span *ngIf="!formColaborador.controls['especialidade'].valid && formColaborador.controls['especialidade'].touched" class="help-block">O campo Especialidade é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['salario'].valid && formColaborador.controls['salario'].touched) }">
							<label for="salario">Salário</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.salario" formControlName="salario" id="salario" maxlength="12" placeholder="">
							<span *ngIf="!formColaborador.controls['salario'].valid && formColaborador.controls['salario'].touched" class="help-block">O campo Salário é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['percentualSalario'].valid && formColaborador.controls['percentualSalario'].touched) }">
							<label for="percentualSalario">8,5% do Salário</label>
							<input type="text" class="form-control" [(ngModel)]="colaborador.percentualSalario" formControlName="percentualSalario" id="percentualSalario" maxlength="12" placeholder="">
							<span *ngIf="!formColaborador.controls['percentualSalario'].valid && formColaborador.controls['percentualSalario'].touched" class="help-block">O campo 8,5% do Salário é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['referencia'].valid && formColaborador.controls['referencia'].touched)}">
							<label for="referencia">Referência FCT</label>
							<select class="form-control" [(ngModel)]="colaborador.referencia" formControlName="referencia" id="referencia">
								  <option [selected]="true" value="">Selecione</option>  
                                  <option value="1">1</option>
                                  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
                                  <option value="5">5</option>
								  <option value="6">6</option>
								  <option value="7">7</option>
                                  <option value="8">8</option>
								  <option value="9">9</option>
								  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
								  <option value="13">13</option>
								  <option value="14">14</option>
                                  <option value="15">15</option>
								  <option value="16">16</option>
								  <option value="17">17</option>
                                  <option value="18">18</option>
								  <option value="19">19</option>
								  <option value="20">20</option>
								  <option value="21">21</option>
                                  <option value="22">22</option>
								  <option value="23">23</option>
								  <option value="24">24</option>
                                  <option value="25">25</option>
								  <option value="26">26</option>
								  <option value="27">27</option>
                                  <option value="28">28</option>
								  <option value="29">29</option>
								  <option value="30">30</option>
								  <option value="31">31</option>
                                  <option value="32">32</option>
								  <option value="33">33</option>
								  <option value="34">34</option>
                                  <option value="35">35</option>
								  <option value="36">36</option>
								  <option value="37">37</option>
                                  <option value="38">38</option>
								  <option value="39">39</option>
								  <option value="40">40</option>
							  </select>	
							<span *ngIf="!formColaborador.controls['referencia'].valid && formColaborador.controls['referencia'].touched" class="help-block">A Referência FCT é obrigatório!</span>
						</div>
						<div class="form-group" *ngIf="colaborador.referencia">
							<label for="valor">Valor</label>
							<input type="text" class="form-control" id="valor" readonly placeholder="">
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formColaborador.controls['divisao'].valid && formColaborador.controls['divisao'].touched)}">
							<label for="divisao">Divisão</label>
							<select class="form-control" [(ngModel)]="colaborador.divisao" formControlName="divisao" id="divisao">
								  <option [selected]="true" value="">Selecione</option>  
                                  <option *ngFor="let colaborador of Colaborador" value="{{colaborador.divisao}}">{{colaborador.divisao.sigla}}</option>
							</select>	  
						</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right" [disabled]="!formColaborador.valid">Enviar</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>