<section class="content-header">
	<h1>
		Referência FCT
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li class="active">Referência FCT</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Referências Cadastradas</h3>
					<div class="box-tools">
						<a routerLink="/referencia/novo" class="btn btn-sm pull-left btn-flat bg-purple margin-right-10" ><i class="fa fa-plus"></i> <b>Nova Referência</b></a>
						<!--<div class="input-group input-group-sm pull-right" style="width: 150px;">
							<input type="text" ng-model="searchText" name="table_search" class="form-control pull-right" placeholder="Pesquisar">
						</div>-->
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
						<thead>
							<tr>
								<th style="width: 10px">#</th>
								<th>Cargo</th>
								<th>Número de Referência</th>
								<th>Valor de Referência</th>
								<th>Data da Atualização</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>	
							<tr *ngFor="let referencia of Referencia">
								<!-- | filter:searchText -->
								<td>{{referencia.id_referencia_fct_gfe}}</td>
								<td>{{referencia.cargo}}</td>
								<td>{{referencia.num_referencia}}</td>
								<td>{{referencia.valor_referencia}}</td>  
								<td>{{referencia.dt_atualizacao | date:'shortDate'}}</td>
								<td>
									<a [routerLink]="['/referencia', referencia.id_referencia_fct_gfe]" class="btn  btn-xs bg-blue btn-flat">
									<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<button (click)="deleteReferencia(referencia)" type="button" class="btn  btn-xs bg-red btn-flat" ><i class="fa fa-remove"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

	</div>
</section>