<section class="content-header">
	<h1>
		Avaliação do Colaborador
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#">Avaliação</a></li>
		<li class="active">Detalhes da Avaliação</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes da Avaliação</h3>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="sucesso">
					Formulário enviado com sucesso!
				</div>
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="divisao">Divisão</label>
							<select class="form-control" id="">
                                  <option [selected]="true" value="">Selecione</option>  
								  <option  value="SDDEF">SDDEF</option>
								  <option  value="SDDEP">SDDEP</option>
								  <option  value="SDEXP">SDEXP</option>
								  <option  value="SDCBH">SDCBH</option>
								  <option  value="SDCSD">SDCSD</option>
							</select>
						</div>
						<div class="form-group">
							<label for="Colaborador">Colaborador</label>
							<select class="form-control" id="">
                                  <option [selected]="true" value="">Selecione</option>  
								  <option  value="1">Natanael de Souza Leite</option>
								  <option  value="2">Francisco Jose Joaquim de Souza</option>
								  <option  value="3">Roberto da Silveira Souza Paranhos</option>
							</select>
						</div>				
						<div class="form-group">
							<label for="papel1">Papel</label>
							<select multiple class="form-control" id="">
                                  <option  value="1">Front-end</option>
								  <option  value="2">Arquiteto</option>
								  <option  value="3">Testes</option>
								  <option  value="4">Requisitos</option>
								  <option  value="5">Back-end</option>
								  <option  value="6">Banco</option>
								  <option  value="7">Front-end</option>  
                            </select>
						</div>
						<div class="form-group">
							<table class="table table-bordered">
								<tr>
									<th>Atributos</th>
									<th>Abrangência</th>
									<th>Complexidade</th>
									<th>Impacto</th>	
								</tr>
								<tr>
									<td width="600px"><label>a) Analisar as demandas apresentadas pelas áreas de negócio e propor alternativas de solução técnica e estratégia de desenvolvimento</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciaA" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>b) Elicitar requisitos e criar modelos de uso e de testes de sistemas</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciab" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciab" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciab" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>c) Elaborar projeto lógico e físico de dados e de sistemas</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciac" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciac" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciac" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>d) Definir a arquitetura de softwares e de sistemas</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciad" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciad" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciad" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>e) Especificar unidades de implementação de software</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciae" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciae" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciae" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>f) Elaborar documentação relativa às etapas de desenvolvimento de sistemas</label></td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciaf" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaf" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaf" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
							</table>
						</div>	
						<div class="form-group">
							<label for="">Quantidade de Projetos</label>
							<select class="form-control" id="">
                                  <option  value="1" selected>1</option>
								  <option  value="2">2</option>
								  <option  value="3">3</option>
								  <option  value="4">4</option>
								  <option  value="5">5</option>
								  <option  value="6">6</option>
							</select>
						</div>
						<div class="form-group">
							<table class="table table-bordered">
								<tr>
									<th>Projetos</th>
									<th>Abrangência</th>
									<th>Complexidade</th>
									<th>Impacto</th>	
								</tr>
								<tr>	
									<td width="600px">
										<label for="">Projeto 1</label>
											<select class="form-control" id="">
												<option [selected]="true" value="">Selecione</option>  
												<option  value="1">10115 - Intercâmbio de Informações</option>
												<option  value="2"></option>
												<option  value="3"></option>
												<option  value="4"></option>
												<option  value="5"></option>
												<option  value="6"></option>
												<option  value="7"></option>
											</select>
									</td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciaA" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
								<tr>	
									<td width="600px">
										<label for="">Projeto 2</label>
										<select class="form-control" id="">
											<option [selected]="true" value="">Selecione</option>  
											<option  value="1"></option>
											<option  value="2"></option>
											<option  value="3"></option>
											<option  value="4"></option>
											<option  value="5"></option>
											<option  value="6"></option>
											<option  value="7"></option>
										</select>
									</td>
									<td>		
										<div class="radio">
											<label>
												<input type="radio" id="" name="abrangenciaA" value="1" checked>
												1-Moderado  	
											</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="2">
												2-Significativa
												</label>
										</div>
									</td>
									<td>	
										<div class="radio">
												<label>
												<input type="radio" id="" name="abrangenciaA" value="3">
												3-Muito
												</label>
										</div>
									</td>
								</tr>
							</table>	
						</div>
						<div class="form-group">
							<label for="">Referência FCT</label>
							<input type="text" class="form-control" id="" readonly placeholder="" value="11 - Técnico (R$ 395.77)">
						</div>	
						<div class="form-group">
							<label for="">Pontuação Total</label>
							<input type="text" class="form-control" id="" readonly placeholder="" value="87.98">
						</div>
					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right">Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>