<div data-spy="scroll" data-target="#myScrollspy">
  <section class="content-header">
    <h1>
      Avaliação do Colaborador
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a href="#">Avaliação</a>
      </li>
      <li class="active">Detalhes da Avaliação</li>
    </ol>
  </section>
  <section class="content" style="margin-right: 235px;">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Detalhes da Avaliação</h3>
          </div>
          <form role="form" [formGroup]="formAvaliacao" (ngSubmit)="registrarAvaliacao()">
            <div class="box-body">
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th style="width: 20%">Divisão</th>
                    <th style="width: 30%">Colaborador</th>
                    <th>Papel (selecione no máximo 3)</th>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group" [ngClass]="{'has-error': (!formAvaliacao.controls['divisao'].valid && formAvaliacao.controls['divisao'].touched) }">
                        <select class="form-control" formControlName="divisao" ngModel>
                          <option value="" disabled>Selecione</option>
                          <option *ngFor="let divisao of Divisao; let i = index" [ngValue]="divisao">{{divisao.sigla}}</option>
                        </select>
                        <span *ngIf="!formAvaliacao.controls['divisao'].valid && formAvaliacao.controls['divisao'].touched" class="help-block">O campo Divisão é obrigatório!</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group" [ngClass]="{'has-error': (!formAvaliacao.controls['colaborador'].valid && formAvaliacao.controls['colaborador'].touched) }">
                        <select class="form-control" formControlName="colaborador" (change)="somaValores('fctatual')" ngModel>
                          <option value="" disabled>Selecione</option>
                          <option *ngFor="let colaborador of Colaborador; let i = index" [ngValue]="colaborador">{{ colaborador.nome }}</option>
                        </select>
                        <span *ngIf="!formAvaliacao.controls['colaborador'].valid && formAvaliacao.controls['colaborador'].touched" class="help-block">O campo Colaborador é obrigatório!</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <ng-selectize [errorClass]="'has-error'" [config]="configPapel" [options]="papel" [formControl]="formAvaliacao.get('papel')"></ng-selectize>
                        <div *ngIf="formAvaliacao.get('papel').touched && formAvaliacao.get('papel').errors">
                          <span *ngIf="formAvaliacao.get('papel').hasError('required')" class="help-block">O campo Papel é obrigatório.</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th>
                      <label>Conhecimento em Tecnologias (selecione no máximo 6)</label>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group" [ngClass]="{'has-error': tecnologiaValidacao }">
                        <ng-selectize [errorClass]="'has-error'" [config]="configTecnologia" [options]="tecnologia" [formControl]="formAvaliacao.get('tecnologia')"></ng-selectize>
                        <div *ngIf="formAvaliacao.get('tecnologia').touched && formAvaliacao.get('tecnologia').errors">
                          <span *ngIf="formAvaliacao.get('tecnologia').hasError('required')" class="help-block">O campo Tecnologia é obrigatório.</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Atributos</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">

                    <table class="table table-striped">
                      <tr>
                        <th style="width: 600px">Descrição</th>
                        <th>
                          <span class="badge bg-yellow">Abrangência</span>
                        </th>
                        <th>
                          <span class="badge bg-light-blue">Complexidade</span>
                        </th>
                        <th>
                          <span class="badge bg-green">Impacto</span>
                        </th>
                      </tr>
                      <tr formArrayName="itemsAtributo" *ngFor="let item of getItemsAtributo(formAvaliacao); let i = index;">
                        <td [formGroupName]="i">
                          <label>{{ item.value.letra }})&nbsp;{{ item.value.descricao }}</label>
                        </td>
                        <td [formGroupName]="i">
                          <div class="radio" style="float: left;">
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('atributo')" [value]="1" [checked]="true">
                              <span data-toggle="tooltip" title="{{item.value.descricaoAbrangencia1}}" class="badge bg-yellow">1-Moderado</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('atributo')" [value]="2">
                              <span data-toggle="tooltip" title="{{item.value.descricaoAbrangencia2}}" class="badge bg-yellow">2-Significativa</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('atributo')" [value]="3">
                              <span data-toggle="tooltip" title="{{item.value.descricaoAbrangencia3}}" class="badge bg-yellow">3-Muito</span>
                            </label>
                          </div>
                        </td>
                        <td [formGroupName]="i">

                          <div class="radio" style="float: left; position: relative;">
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('atributo')" [value]="1" [checked]="true">
                              <span data-toggle="tooltip" title="{{item.value.descricaoComplexidade1}}" class="badge bg-light-blue">1-Moderada</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('atributo')" [value]="2">

                              <span data-toggle="tooltip" title="{{item.value.descricaoComplexidade2}}" class="badge bg-light-blue">2-Alta</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('atributo')" [value]="3">
                              <span data-toggle="tooltip" title="{{item.value.descricaoComplexidade3}}" class="badge bg-light-blue">3-Altíssima</span>
                            </label>
                          </div>

                        </td>
                        <td [formGroupName]="i">
                          <div class="radio" style="float: left; position: relative;">
                            <label>
                              <input type="radio" formControlName="Impacto" (change)="somaValores('atributo')" [value]="1" [checked]="true">
                              <span data-toggle="tooltip" title="{{item.value.descricaoImpacto1}}" class="badge bg-green">1-Relevante</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Impacto" (change)="somaValores('atributo')" [value]="2">
                              <span data-toggle="tooltip" title="{{item.value.descricaoImpacto2}}" class="badge bg-green">2-Muito</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Impacto" (change)="somaValores('atributo')" [value]="3">
                              <span data-toggle="tooltip" title="{{item.value.descricaoImpacto3}}" class="badge bg-green">3-Altamente</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Projetos (adicione no máximo 6)</h3>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-default" (click)="addProjeto()">Adicionar</button>&nbsp;
                    <button type="button" class="btn btn-default" (click)="excProjeto(10)">Limpar</button>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">
                    <table class="table table-striped">
                      <tr>
                        <th>#</th>
                        <th style="width: 570px">Código Serviço - Descrição</th>
                        <th>
                          <span class="badge bg-yellow">Abrangência</span>
                        </th>
                        <th>
                          <span class="badge bg-light-blue">Complexidade</span>
                        </th>
                        <th>
                          <span class="badge bg-green">Impacto</span>
                        </th>
                        <th></th>
                      </tr>
                      <tr formArrayName="items" *ngFor="let item of getItems(formAvaliacao); let i = index;" [attr.data-index]="i">
                        <td>
                          <label>{{i+1}}</label>
                        </td>
                        <td [formGroupName]="i">
                          <select class="form-control" formControlName="Projetos">
                            <option value="" [selected]="true">Selecione...</option>
                            <option *ngFor="let item of Projeto" [value]="item.id_projeto">{{ item.cod_servico }} - {{ item.titulo }}</option>
                          </select>
                        </td>
                        <td [formGroupName]="i">
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('projeto')" [value]="1">
                              <span class="badge bg-yellow">1-Moderado</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('projeto')" [value]="2">
                              <span class="badge bg-yellow">2-Significativa</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Abrangencia" (change)="somaValores('projeto')" [value]="3">
                              <span class="badge bg-yellow">3-Muito</span>
                            </label>
                          </div>
                        </td>
                        <td [formGroupName]="i">
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('projeto')" [value]="1">
                              <span class="badge bg-light-blue">1-Moderada</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('projeto')" [value]="2">
                              <span class="badge bg-light-blue">2-Alta</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Complexidade" (change)="somaValores('projeto')" [value]="3">
                              <span class="badge bg-light-blue">3-Altíssima</span>
                            </label>
                          </div>
                        </td>
                        <td [formGroupName]="i">
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="Impacto" (change)="somaValores('projeto')" [value]="1">
                              <span class="badge bg-green">1-Relevante</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" formControlName="Impacto" (change)="somaValores('projeto')" [value]="2">
                              <span class="badge bg-green">2-Muito</span>
                            </label>
                            <br>
                            <label>
                              <input type="radio" id="Impacto" formControlName="Impacto" (change)="somaValores('projeto')" [value]="3">
                              <span class="badge bg-green">3-Altamente</span>
                            </label>
                          </div>
                        </td>
                        <td>
                          <button (click)="excProjeto(i)" type="button" class="btn  btn-xs bg-red btn-flat">
                            <i class="fa fa-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th>
                      <label style="width: 20%">% de Ociosidade</label>
                    </th>
                  </tr>
                  <tr>
                    <td>
                        <div class="form-group">
                          <label style="width: 20%">
                            <input type="text" class="form-control" readonly formControlName="ociosidade" (change)="somaValores('ociosidade')" (keypress)="formataData($event)" (keyup)="somenteNumeros($event)" placeholder="00.00" maxlength="5" pattern="[0-9]+">
                            <!-- (blur)="formataOciosidade($event)"  -->
                          </label>
                        </div>
                    </td>
                  </tr>
                </table>
              </div>
              <section class="canto" id="myScrollspy">
                <div class="row">
                  <div class="col-md-12">
                    <div class="box box-default">
                      <div class="box-header with-border">
                        <h3 class="box-title">Resultado da Avaliação</h3>
                        <div class="box-tools pull-right">
                          <!--button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                          </button-->
                        </div>
                        <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="form-group" data-spy="affix" data-offset-top="195">
                          <table class="table table-condensed">
                            <tr>
                              <th style="width: 50%">Pontuação Total</th>
                              <th style="width: 50%">Pontuação FCT Atual</th>
                            </tr>
                            <tr>
                              <td>
                                <label style="width: 100%">
                                  <input type="text" class="form-control" formControlName="vlrPtTotal" readonly>
                                </label>
                              </td>
                              <td>
                                <label style="width: 100%">
                                  <input type="text" class="form-control" formControlName="vlrFCTatual" readonly>
                                </label>
                              </td>
                            </tr>
                          </table>
                          <table class="table table-condensed">
                            <tr>
                              <th style="width: 50%">Ajuste</th>
                              <th style="width: 5%"></th>
                              <th></th>
                            </tr>
                            <tr>
                              <td>
                                <label style="width: 100%">
                                  <input type="text" class="form-control" formControlName="ajuste" readonly>
                                </label>
                              </td>
                              <td>
                                <span class="{{this.classeCss1}}">{{this.percAjuste.toFixed(2)}}%</span>
                              </td>
                              <td>
                                <div class="progress progress-sm progress-striped active">
                                  <div class="{{this.classeBarra1}}" [style.width]="percAjusteBarra"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
                </div>
              </section>
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th style="width: 36%">Referência FCT Atual</th>
                    <th style="width: 36%">Referência FCT pela Pontuação Total</th>
                  </tr>
                  <tr>
                    <td>
                      <label style="width: 100%">
                        <input type="text" class="form-control" formControlName="referenciaFctAtual" readonly>
                      </label>
                    </td>
                    <td>
                      <label style="width: 100%">
                        <input type="text" class="form-control" formControlName="FCTPontuaçãoTotal" readonly>
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="box-footer">
              <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right" [disabled]="!formAvaliacao.valid">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
