.affix {
    top: 20px;
    z-index: 9999 !important;
}

.canto {
    min-width: 25%;
    min-height: 200px;
    /* border-radius: 10px; */
    top: 106px;
    right: 10px;
    text-align: center;
    position: fixed;
    background: #f4f4f4;
    z-index: 999;
}

.selectize-input.items.not-full.has-options {
    border-color: #dd4b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #dd4b39;
}