<section class="content-header">
  <h1>
    Papel dos Colaboradores
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#">Papel</a>
    </li>
    <li class="active">Detalhes do Papel</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Detalhes do Papel dos Colaboradores</h3>
        </div>
        <form role="form" [formGroup]="formPapel" (ngSubmit)="save()">
          <div class="box-body">
            <div class="form-group" [ngClass]="{'has-error': (!formPapel.controls['tipo'].valid && formPapel.controls['tipo'].touched) }">
              <label for="tipo">Tipo</label>
              
              <select class="form-control" [(ngModel)]="papeis.tipo" formControlName="tipo" id="tipo">
                <option [selected]="true" value="">Selecione</option>
                <option value="Desenvolvimento">Desenvolvimento</option>
                <option value="Design">Design</option>
              </select>
              <span *ngIf="!formPapel.controls['tipo'].valid && formPapel.controls['tipo'].touched" class="help-block">O campo Tipo é obrigatório</span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': (!formPapel.controls['nome'].valid && formPapel.controls['nome'].touched) }">
              <label for="nome">Nome</label>
              <select class="form-control" [(ngModel)]="papeis.nome" formControlName="nome" id="nome" (change)="onChange($event.target.value)" *ngIf="!stPapel">
                <option [selected]="" value="">Selecione</option>
                <option *ngFor="let ppl of listPapel" value="{{ppl.nome}}">{{ ppl.nome }}</option>
                <option value="0">Criar novo papel</option>
              </select>
              <input type="text" *ngIf="stPapel" class="form-control" id="nome" [(ngModel)]="papeis.nome" formControlName="nome" placeholder="Informe o nome do Papel">
              <span *ngIf="!formPapel.controls['nome'].valid && formPapel.controls['nome'].touched" class="help-block">O campo Nome é obrigatório</span>
            </div>

            <div>
              <div class="box box-warning box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Associar Atributos com papel</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"
                      aria-controls="collapseExample" (click)="carregaAtributos(papeis.atributos)">
                      <i class="fa " [ngClass]="{'fa-minus': isOpen === true ,'fa-plus': isOpen === false }"></i>
                    </button>
                  </div>
                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                
                <div class="collapse" id="collapseExample">
                  <div class="box-body" formArrayName="atributo" *ngFor="let items of getPapelList(formPapel); let i = index;" [attr.data-index]="i">
                    <div [formGroupName]="i">
                    <div class="checkbox" >
                      <label>
                            <input type="checkbox" formControlName="ativado"  id="ativado" [value]="items.value"/>{{ items.value.letra }} - {{ items.value.descricao }}      
                      </label>
                    </div>
                    </div>
                  </div>
                </div>

                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>

            <div class="form-group" [ngClass]="{'has-error': (!formPapel.controls['descricao'].valid && formPapel.controls['descricao'].touched) }">
              <label>Descrição</label>
              <textarea class="form-control" [(ngModel)]="papeis.descricao" formControlName="descricao" rows="3" placeholder="Descreva os detalhes do Papel exercido pelo profissional"></textarea>
              <span *ngIf="!formPapel.controls['descricao'].valid && formPapel.controls['descricao'].touched" class="help-block">O campo Descrição é obrigatório</span>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="btn btn-info pull-right" [disabled]="!formPapel.valid">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
