<div class="wrapper">

  <div *ngIf="isloggedIn()">
    <mt-header></mt-header>
  </div>
  
  <!-- Full Width Column -->
  <div class="content-wrapper" [ngClass]="{ 'tela-login': !isloggedIn(), 'tela-not-login': isloggedIn() }">
    <div class="container">
      <avalia-mensagens></avalia-mensagens>
      <avaliacao-loader></avaliacao-loader>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- snakbar deve ser aqui -->
  <mt-snackbar></mt-snackbar>

  <footer class="main-footer" *ngIf="isloggedIn()">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Avalia FCT</strong> Angular Application
    </div>
  </footer>
</div>
