<section class="content-header">
	<h1>
		Distribuição de Valores para Cálculo da FCT
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#">Distribuição</a></li>
		<li class="active">Detalhes da Distribuição</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes da Distribuição de Valores da FCT</h3>
				</div>
				
				<div class="alert alert-success" role="alert" *ngIf="sucesso">
					Formulário enviado com sucesso!
					
				</div>
				<form role="form" [formGroup]="formDistribuicao" (ngSubmit)="save()">
				<div class="box-body">
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['valor'].valid && formDistribuicao.controls['valor'].touched) }">
							<label for="valor">Valor</label>
							<input type="text" class="form-control" [(ngModel)]="distribuicao.valor" formControlName="valor" id="valor" maxlength="13" placeholder="Informar o valor total a ser utilizado para distribuição da FCT no departamento" currencyMask>
							<span *ngIf="!formDistribuicao.controls['valor'].valid && formDistribuicao.controls['valor'].touched" class="help-block">O campo Valor é obrigatório!</span>
						</div>
						<div class="form-group">
							<label for="qtde_faixas">Quantidade de Faixas</label>
							<select class="form-control" [(ngModel)]="distribuicao.qtde_faixas" formControlName="qtde_faixas" id="qtde_faixas">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4" [selected]="true">4</option>
								  <option value="5">5</option>
								  <option value="6">6</option>
								  <option value="7">7</option>
								  <option value="8">8</option>
								  <option value="9">9</option>
								  <option value="10">10</option>
							</select>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['pontuacao_minima'].valid && formDistribuicao.controls['pontuacao_minima'].touched) }">
							<label for="pontuacao_minima">Pontuação Mínima</label>
							<input type="text" class="form-control" [(ngModel)]="distribuicao.pontuacao_minima" formControlName="pontuacao_minima" id="pontuacao_minima" maxlength="8" readonly placeholder="Pontuação mínima a ser calculada após a inclusão de avaliações">
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['pontuacao_maxima'].valid && formDistribuicao.controls['pontuacao_maxima'].touched) }">
							<label for="pontuacao_maxima">Pontuação Máxima</label>
							<input type="text" class="form-control" [(ngModel)]="distribuicao.pontuacao_maxima" formControlName="pontuacao_maxima" id="pontuacao_maxima" maxlength="8" readonly placeholder="Pontuação máxima a ser calculada após a inclusão de avaliações">
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['diferenca'].valid && formDistribuicao.controls['diferenca'].touched) }">
							<label for="diferenca">Diferença entre as Pontuações Máxima e Mínima</label>
							<input type="text" class="form-control" formControlName="diferenca" id="diferenca" maxlength="8" readonly placeholder="Diferença a ser calculada entre a Pontuação máxima e mínima">
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['amplitude_faixas'].valid && formDistribuicao.controls['amplitude_faixas'].touched) }">
							<label for="amplitude_faixas">Amplitude das Faixas</label>
							<input type="text" class="form-control" [(ngModel)]="distribuicao.amplitude_faixas" formControlName="amplitude_faixas" id="amplitude_faixas" maxlength="8" readonly placeholder="Amplitude da Faixas a ser calculada após a definição das pontuações e da Quantidade de Faixas">
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formDistribuicao.controls['dt_registro'].valid && formDistribuicao.controls['dt_registro'].touched) }">
							<label for="dt_registro">Data do Registro</label>
							<input type="text" class="form-control" [(ngModel)]="distribuicao.dt_registro" formControlName="dt_registro" id="dt_registro" readonly placeholder="" [textMask]="{mask: maskDate}">
						</div>
					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right" [disabled]="!formDistribuicao.valid">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>