<section class="content-header">
    <h1>
      Distribuição das Faixas
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#">Faixas</a>
      </li>
      <li class="active">Distribuição das Faixas</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Definição</h3>
          </div>
          <!-- <div class="alert alert-success" role="alert" *ngIf="sucesso">
            Faixas definidas com sucesso!
          </div> -->
          <form [formGroup]="formFaixa" role="form">
            <div class="box-body">
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th width="20%">Pontuação Mínima</th>
                    <th width="20%">Pontuação Máxima</th>
                    <th width="20%">Diferença</th>
                    <th width="20%">Quantidade de Faixas</th>
                    <th width="20%">Amplitude das Faixas</th>
                  </tr>
                  
                  <tr *ngFor="let distribuicao of distribuicao">
                    <td>
                      <label for="">
                        <span class="badge bg-red">{{(distribuicao.pontuacao_minima).toFixed(2)}}</span>
                      </label>
                    </td>
                    <td>
                      <label for="">
                        <span class="badge bg-yellow">{{(distribuicao.pontuacao_maxima).toFixed(2)}}</span>
                      </label>
                    </td>
                    <td>
                      <label for="">
                        <span class="badge bg-light-blue">{{(distribuicao.pontuacao_maxima - distribuicao.pontuacao_minima).toFixed(2)}}</span>
                      </label>
                    </td>
                    <td>
                      <label for="">
                        <span class="badge bg-aqua">{{distribuicao.qtde_faixas}}</span>
                      </label>
                    </td>
                    <td>
                      <label for="">
                        <span class="badge bg-green">{{((distribuicao.pontuacao_maxima - distribuicao.pontuacao_minima) / distribuicao.qtde_faixas).toFixed(2)}}</span>
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Faixas</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">
                    <table class="table table-striped">
                      <tr>
                        <th>#</th>
                        <th width="240px">Limite Inferior</th>
                        <th width="240px">Limite Superior</th>
                        <th width="240px">Pontuação de referência da Faixa</th>
                        <th width="240px">Quantidade de Pessoas na Faixa</th>
                      </tr>
                      <tr *ngFor="let faixa of faixaList; let i = index;">
                        <td>
                          <label for="">{{i+1}}</label>
                        </td>
                        <td>
                          <label for="">
                            <span class="badge bg-red">{{(faixa.limite_inferior).toFixed(2)}}</span>
                          </label>
                        </td>
                        <td>
                          <label for="">
                            <span class="badge bg-yellow">{{(faixa.limite_superior).toFixed(2)}}</span>
                          </label>
                        </td>
                        <td>
                          <label for="">
                            <span class="badge bg-light-blue">{{(faixa.pontuacao_referencia).toFixed(2)}}</span>
                          </label>
                        </td>
                        <td>
                          <label for="">
                            <span class="badge bg-green">{{faixa.qtde_pessoas}}</span>
                          </label>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <th>Valor Total da Distribuição</th>
                    <th>Referência FCT para pontuação mínima</th>
                    <th>&nbsp;</th>
                  </tr>
                  <tr>
                    <td>
                      <label for="">
                        <input type="text" class="form-control" readonly formControlName="valorDistribuicao">
                      </label>
                    </td>
                    <td>
                      <label style="width: 60%">
                        <select class="form-control" formControlName="referencia_fct">
                          <option *ngFor="let referencia of referencia; let i = index" [selected]="referencia.id_referencia == referencia.referencia"
                            value="{{referencia.id_referencia}}">{{referencia.num_referencia + " - " + referencia.cargo + " (" + referencia.valor_referencia + ")"}}</option>
                        </select>
                      </label>
                    </td>
                    <td>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" formControlName="assumirPercCalculado" (click)="habDesCamposPercent()"> Assumir o Percentual(%) Calculado
                        </label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Valores</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">
                    <table class="table table-striped">
                      <tr>
                        <th>Faixa</th>
                        <th>Percentual(%) Fixo</th> 
                        <th style="width:12%">Valor Total Fixo</th>
                        <th style="width:12%">Valor Rateio por Pessoa Fixo</th>
                        <th style="width:12%">Valor Rateio Somado por Faixa Fixo</th>
                        <th style="width:12%">Percentual Calculado</th>
                        <th style="width:12%">Valor Total Calculado</th>
                        <th style="width:12%">Valor Rateio por Pessoa Calculado</th>
                        <th style="width:12%">Valor Rateio Somado por Faixa</th>
                      </tr>
                      <tr formArrayName="listFaixas" *ngFor="let item of getListaFaixas(formFaixa); let i = index;">
                        <td [formGroupName]="i">
                            <span>{{i+1}}</span>
                        </td>
                        <td [formGroupName]="i">
                            <label for="">
                              <input type="text" formControlName="percentualFixo" class="form-control"  style="width: 70px;" maxlength="2">  
                            </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                            <span class="badge bg-yellow">{{ item.value.valorTotalFixo }}</span>
                          </label>
                        </td>
                        
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-yellow">{{ item.value.valorRateioPessoa }}</span>
                          </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-aqua">{{ item.value.valorRateioSomado }}</span>
                          </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-green">{{ item.value.percentualCalculado }}%</span>
                          </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-light-blue">{{ item.value.valorTotalCalculado }}</span>
                          </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-light-blue">{{ item.value.valorRateioPessoaCalculado }}</span>
                          </label>
                        </td>
                        <td [formGroupName]="i">
                          <label for="">
                              <span class="badge bg-aqua">{{ item.value.valorRateioSomadoFaixa }}</span>
                          </label>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  