<!-- INÍCIO DO CONTEÚDO -->
<section class="content login-content" style="margin: 10% auto" [@avaliacaoState]="loginState">
  <div class="login-logo">
    <b>AvaliaçãoFCT</b> | Login
  </div>
  <!-- <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body"> -->
  <div class="col-xs-12 col-sm-offset-4 col-sm-4 login-box-body">
    <p class="login-box-msg">Entre com as informações abaixo para continuar</p>

    <form [formGroup]="loginForm">
      <div class="form-group has-feedback">
        <input type="text" formControlName="login" class="form-control" placeholder="CPF" maxlength="11" tabindex="1">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" formControlName="senha" class="form-control" placeholder="Senha" maxlength="25" tabindex="2">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group text-right">
        <a href="#" (click)="openModalEsqueceuSenha(template)">Esqueceu sua senha ?</a>
      </div>
      <div class="row">
        <!-- <div data-ui-captcha-serpro="css1; input" data-clienteid="00000000000000000000000000000000"></div> -->
        <!-- /.col -->
        <div class="col-md-12 col-xs-12">
          <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->


<!-- Template do formulario para recuperar senha -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Por favor informe seu email</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <p>Informe seu e-mail. Uma nova senha será gerada e enviada para ele.</p> -->
    <div class="form-group has-feedback">
      <form [formGroup]="recuperarSenhaForm" *ngIf="!senhaNova" >
        <div class="form-group"  [ngClass]="{'has-error': (!recuperarSenhaForm.controls['email'].valid && recuperarSenhaForm.controls['email'].touched) && recuperarSenhaForm.controls.email.errors?.required || (!recuperarSenhaForm.controls['email'].valid && recuperarSenhaForm.controls['email'].touched) && recuperarSenhaForm.controls.email.errors?.email }">
            <input type="text" class="form-control" placeholder="Ex: fulano@email.com" size="25" formControlName="email">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="text-center" *ngIf="(!recuperarSenhaForm.controls['email'].valid && recuperarSenhaForm.controls['email'].touched) && recuperarSenhaForm.controls['email'].touched && recuperarSenhaForm.controls.email.errors?.required" class="help-block">O campo Email é obrigatório.</span>
            <span class="text-center" *ngIf="(!recuperarSenhaForm.controls['email'].valid && recuperarSenhaForm.controls['email'].touched) && recuperarSenhaForm.controls.email.errors?.email" class="help-block">O campo Email inválido.</span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="resetarSenha()" [disabled]="recuperarSenhaForm.invalid">Confirmar</button>
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Voltar</button>
        </div>
      </form>
      <div *ngIf="senhaNova" >
        <p style="font-size: 14px;">{{ results.texto }} <b><span style="font-size: 18px;">{{ results.senha }}</span></b> </p>  
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Voltar</button>
      </div>
    </div>
  </div>
</ng-template>
