<section class="content-header">
	<h1>
		Projeto
		<!-- <small>cadastro de novas divisões</small> -->
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#">Projeto</a></li>
		<li class="active">Detalhes do Projeto</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes do Projeto</h3>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="sucesso">
					Formulário enviado com sucesso!
					{{debug()}}
				</div>
				<form role="form" [formGroup]="formProjeto" (ngSubmit)="save()">
					<div class="box-body">
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['titulo'].valid && formProjeto.controls['titulo'].touched) }">
							<label for="titulo">Título</label>
							<input type="text" class="form-control" id="titulo" [(ngModel)]="projeto.titulo" formControlName="titulo" placeholder="Descreva o Título do projeto com até 30 caracteres" maxlength="30">							
							<span *ngIf="!formProjeto.controls['titulo'].valid && formProjeto.controls['titulo'].touched" class="help-block">O campo Título é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['codservico'].valid && formProjeto.controls['codservico'].touched) }">
							<label for="codservico">Código de Serviço</label>
							<input type="text" class="form-control" id="codservico" [(ngModel)]="projeto.codservico" formControlName="codservico" placeholder="99999" maxlength="5">							
							<span *ngIf="!formProjeto.controls['codservico'].valid && formProjeto.controls['codservico'].touched" class="help-block">O campo Código de Serviço é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['descricao'].valid && formProjeto.controls['descricao'].touched) }">
							<label>Descrição</label>
							<textarea class="form-control" [(ngModel)]="projeto.descricao" formControlName="descricao" rows="3" placeholder="Descreva os detalhes do Projeto"></textarea>
							<span *ngIf="!formProjeto.controls['descricao'].valid && formProjeto.controls['descricao'].touched" class="help-block">O campo Descrição é obrigatório!</span>
						</div>	
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['dtinicio'].valid && formProjeto.controls['dtinicio'].touched) }">
							<label for="dtinicio">Data Início</label>
							<input type="text" class="form-control" id="dtinicio" [(ngModel)]="projeto.dtinicio" formControlName="dtinicio" placeholder="DD/MM/AAAA" maxlength="10">							
							<span *ngIf="!formProjeto.controls['dtinicio'].valid && formProjeto.controls['dtinicio'].touched" class="help-block">O campo Data Início é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['dtfim'].valid && formProjeto.controls['dtfim'].touched) }">
							<label for="dtfim">Data Fim</label>
							<input type="text" class="form-control" id="dtfim" [(ngModel)]="projeto.dtfim" formControlName="dtfim" placeholder="DD/MM/AAAA" maxlength="10">							
							<span *ngIf="!formProjeto.controls['dtfim'].valid && formProjeto.controls['dtfim'].touched" class="help-block">O campo Data Fim é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formProjeto.controls['abrangencia'].valid && formProjeto.controls['abrangencia'].touched) }">
							<label for="abrangencia">Abrangência</label>
							<input type="text" class="form-control" id="abrangencia" [(ngModel)]="projeto.abrangencia" formControlName="abrangencia" placeholder="Projeto de Software, Liderança de projeto, Especialista, etc..." maxlength="50">							
							<span *ngIf="!formProjeto.controls['abrangencia'].valid && formProjeto.controls['abrangencia'].touched" class="help-block">O campo Abrangência é obrigatório!</span>
						</div>
					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right" [disabled]="!formProjeto.valid">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>