<section class="content-header">
	<h1>
		Cadastrar Referência FCT
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
		<li><a href="#">Referência FCT</a></li>
		<li class="active">Cadastro Referência FCT</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes da Referência FCT</h3>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="sucesso">
					Formulário enviado com sucesso!
					{{debug()}}
				</div>
				<form role="form" [formGroup]="formReferencia" (ngSubmit)="save()">
					<div class="box-body">
						<div class="form-group" [ngClass]="{'has-error': (!formReferencia.controls['cargo'].valid && formReferencia.controls['cargo'].touched) }">
							<label for="cargo">Cargo</label>
							<select class="form-control" [(ngModel)]="papeis.cargo" formControlName="cargo" id="cargo">
                                  <option [selected]="true" value="">Selecione</option>  
                                  <option value="Auxiliar">Auxiliar</option>
                                  <option value="Técnico">Técnico</option>
								  <option value="Analista">Analista</option>
						    </select>
							<span *ngIf="!formReferencia.controls['cargo'].valid && formReferencia.controls['cargo'].touched" class="help-block">O campo Cargo é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formReferencia.controls['numreferencia'].valid && formReferencia.controls['numreferencia'].touched) }">
							<label for="numreferencia">Referência</label>
							<select class="form-control" [(ngModel)]="papeis.numreferencia" formControlName="numreferencia" id="numreferencia">
								  <option [selected]="true" value="">Selecione</option>  
                                  <option value="1">1</option>
                                  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
                                  <option value="5">5</option>
								  <option value="6">6</option>
								  <option value="7">7</option>
                                  <option value="8">8</option>
								  <option value="9">9</option>
								  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
								  <option value="13">13</option>
								  <option value="14">14</option>
                                  <option value="15">15</option>
								  <option value="16">16</option>
								  <option value="17">17</option>
                                  <option value="18">18</option>
								  <option value="19">19</option>
								  <option value="20">20</option>
								  <option value="21">21</option>
                                  <option value="22">22</option>
								  <option value="23">23</option>
								  <option value="24">24</option>
                                  <option value="25">25</option>
								  <option value="26">26</option>
								  <option value="27">27</option>
                                  <option value="28">28</option>
								  <option value="29">29</option>
								  <option value="30">30</option>
								  <option value="31">31</option>
                                  <option value="32">32</option>
								  <option value="33">33</option>
								  <option value="34">34</option>
                                  <option value="35">35</option>
								  <option value="36">36</option>
								  <option value="37">37</option>
                                  <option value="38">38</option>
								  <option value="39">39</option>
								  <option value="40">40</option>
							  </select>
							  <span *ngIf="!formReferencia.controls['numreferencia'].valid && formReferencia.controls['numreferencia'].touched" class="help-block">O campo Referência é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formReferencia.controls['valorreferencia'].valid && formReferencia.controls['valorreferencia'].touched) }">
							<label for="valorReferencia">Valor</label>
							<input type="text" class="form-control" id="valorreferencia" [(ngModel)]="papeis.valorreferencia" formControlName="valorreferencia" placeholder="" maxlength="9">
							<span *ngIf="!formReferencia.controls['valorreferencia'].valid && formReferencia.controls['valorreferencia'].touched" class="help-block">O campo Valor é obrigatório!</span>
						</div>
						<div class="form-group" [ngClass]="{'has-error': (!formReferencia.controls['dtatualizacao'].valid && formReferencia.controls['dtatualizacao'].touched) }">
							<label for="dtatualizacao">Data da Atualização</label>
							<input type="text" class="form-control" id="dtatualizacao" [(ngModel)]="papeis.dtatualizacao" formControlName="dtatualizacao" placeholder="" maxlength="10">
							<span *ngIf="!formReferencia.controls['dtatualizacao'].valid && formReferencia.controls['dtatualizacao'].touched" class="help-block">O campo Data da Atualização é obrigatório!</span>
						</div>
					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
						<button type="submit" class="btn btn-info pull-right" [disabled]="!formReferencia.valid">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>