<div class="text-center" *ngIf="atributoCarregada" style="margin-top: 10px;">
	<i class="fa fa-refresh fa-spin fa-6"></i>
	<br>Carregando... Aguarde...
</div>
<section class="content-header">
	<h1>
		Distribuição de Valores para Cálculo da FCT
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li class="active">Distribuição</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Distribuição Cadastrada</h3>
					<div class="box-tools">
						<div *ngIf="!Distribuicao.length">
							<a routerLink="/distribuicao/novo" class="btn btn-sm pull-left btn-flat bg-purple margin-right-10" ><i class="fa fa-plus"></i> <b>Nova Distribuição</b></a>
						</div>
						
						<!--<div class="input-group input-group-sm pull-right" style="width: 150px;">
							<input type="text" ng-model="searchText" name="table_search" class="form-control pull-right" placeholder="Pesquisar">
						</div-->
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-hover">
						<thead>
							<tr>
								<th style="width: 10px">#</th>
								<th>Valor a ser distribuído em FCT</th>
								<th>Pontuação Mínima registrada</th>
								<th>Pontuação Máxima registrada</th>
								<th>Diferença entre as pontuações</th>
								<th>Amplitude calculada das faixas</th>
								<th>Quantidade de Faixas definida</th>
								<th>Data do Registro</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>	
							<tr *ngFor="let distribuicao of Distribuicao">
								<td>{{distribuicao.id_distribuicao}}</td>
								<td>{{distribuicao.valor}}</td>
								<td>{{distribuicao.pontuacao_minima}}</td>
								<td>{{distribuicao.pontuacao_maxima}}</td>
								<td>{{distribuicao.diferenca}}</td>
								<td>{{distribuicao.amplitude_faixas}}</td>
								<td>{{distribuicao.qtde_faixas}}</td>
								<td>{{distribuicao.dt_registro | date:'shortDate'}}</td>
								<td>
									<a [routerLink]="['/distribuicao', distribuicao.id_distribuicao]" class="btn  btn-xs bg-blue btn-flat">
									<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<!-- button (click)="deleteDistribuicao(distribuicao)" type="button" class="btn  btn-xs bg-red btn-flat" ><i class="fa fa-remove"></i></button -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>