<section class="content-header">
  <h1>
    Avaliação
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li class="active">Avaliação</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="box-body">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Avaliações Registradas</h3>
            <div class="box-tools">
              <a routerLink="/avaliacao/novo" class="btn btn-sm pull-left btn-flat bg-purple margin-right-10">
                <i class="fa fa-plus"></i>
                <b>Nova Avaliação</b>
              </a>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-condensed">
              <tr>
                <td>
                  <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;&nbsp;#&nbsp;Divisão&nbsp;&nbsp;Colaborador</h3>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let aval of avaliacaoDetalhe; index as i" [attr.data-index]="i">
                <td>
                  <div class="box-body table-responsive no-padding">
                    <div class="box box-default collapsed-box">
                      <div class="box-header with-border">
                        <label>
                          &nbsp;&nbsp; {{ i+1 }} &nbsp; {{ aval.listGroup.sigla_divisao }} &nbsp;&nbsp;&nbsp;&nbsp; {{ aval.listGroup.no_colaborador
                          }}
                        </label>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="box-body">
                        <table id="" class="table table-striped">
                          <tr>
                            <th></th>
                            <th>Data da Avaliação</th>
                            <th>Pontuação</th>
                            <th>Ajuste</th>
                            <th>Pontuação Ideal</th>
                            <th>Diferença</th>
                            <th>Valor Rateio</th>
                            <!-- <th></th> -->
                            <th></th>
                          </tr>
                          <tr *ngIf="!aval.listDetalhe.length">
                          <td colspan="10">
                          <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                Não existem avaliações para este usuário!
                            </div>
                          </td>
                          </tr>
                          <tr *ngFor="let items of aval.listDetalhe; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ items.dt_resultado }}</td>
                            <td>{{ items.pontuacao }}</td>
                            <td>{{ items.ajuste.toFixed(2) }}</td>
                            <td>{{ ((items.pontuacao - items.ajuste) + (2 * items.ajuste)).toFixed(2) }}</td>
                            <td>
                                <span class="badge bg-green">{{ ((items.ajuste / items.pontuacao) * 100).toFixed(2) }}%</span>
                            </td>
                            <td>R$ {{items.valor_rateio}}</td>
                            <!-- <td>
                              <a class="btn  btn-xs bg-blue btn-flat">
                                <i class="fa fa-pencil"></i>
                              </a>
                            </td> -->
                            <td>
                              <button type="button" class="btn  btn-xs bg-red btn-flat" (click)="deleteAvaliacao(items, aval.listDetalhe)">
                                <i class="fa fa-remove"></i>
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</section>
