<section class="content-header">
</section>

<section class="content" [@avaliacaoState]="homeState">

    <!-- <div class="container" >
        <div class="content">
            <span>Congratulations, you have successfully logged in!! {{ user.Perfil }} </span>
            <br />
            <a (click)="logout()" href="#">Click Here to logout</a>
        </div>
    </div> -->

  <div class="jumbotron welcome-jumbotron">
    <!-- <h1>Bem vindo ao Avalia-FCT!</h1> -->
    <h2>Bem vindo!</h2>
        <img src="assets/img/img-avaliacao-compressor.jpg" title="" width="480" height="280" />
    <p>Programa de avaliação dos empregados para classificação e distribuição da FCT.</p>
    <!-- <a class="btn btn-primary btn-lg" href="/avaliacao">Minhas Avaliações</a> -->
  </div>
</section>