<div [class.loader-hidden]="!show">

        <div class="loader-overlay">
  <div *ngIf="show">
    <!-- <ngx-spinner bdOpacity="0.6" bdColor="#333" size="large" color="#fff" type="ball-spin-fade"></ngx-spinner> -->
    <ngx-spinner bdOpacity="0.6" bdColor="#333" size="large" color="#fff" type="pacman"></ngx-spinner>
  </div>
</div>

  <!-- <div class="loader-overlay">
    <div>
      <div *ngIf="show" class="text-center">
        <div class="spinning-preloader-container">
          <div class="spinning-preloader-elements"></div>
        </div>
      </div>
    </div>
  </div> -->
</div>
