<section class="content-header">
	<h1>
		Pesos para Cálculo de Papeis e Projetos
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li class="active">Pesos</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Pesos Cadastrados</h3>
					<div class="box-tools">
						<a routerLink="/pesos/novo" class="btn btn-sm pull-left btn-flat bg-purple margin-right-10" ><i class="fa fa-plus"></i> <b>Novo Peso</b></a>
						<!--<div class="input-group input-group-sm pull-right" style="width: 150px;">
							<input type="text" ng-model="searchText" name="table_search" class="form-control pull-right" placeholder="Pesquisar">
						</div>-->
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
						<thead>
							<tr>
								<th style="width: 10px">#</th>
								<th>Tipo</th>
								<th>Quantidade</th>								
								<th>Descricão</th>
								<th>Valor</th>
								<th>Data de Registro</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>	
							<tr *ngFor="let pesos of Pesos; let i = index;">
								<!-- | filter:searchText -->
								<td>{{i+1}}</td>
								<td>{{pesos.tipo}}</td>
								<td>{{pesos.quantidade}}</td>
								<td>{{pesos.descricao}}</td>
								<td>{{ ajustaPesos(pesos.valor) }}</td>
								<td>{{pesos.dt_registro | date:'shortDate'}}</td>
								<td>
									<a [routerLink]="['/pesos', pesos.id_pesos]" class="btn  btn-xs bg-blue btn-flat">
									<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<button (click)="deletePesos(pesos)" type="button" class="btn  btn-xs bg-red btn-flat" ><i class="fa fa-remove"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

	</div>
</section>